.frameChild {
  height: 90px;
  width: 1380px;
  position: relative;
  border-radius: var(--br-51xl);
  background-color: var(--gray-2);
  display: none;
  max-width: 100%;
}
.frameItem {
  position: absolute;
  top: 11.5px;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--color-gray-300);
  width: 16px;
  height: 16px;
}
.frameInner {
  position: absolute;
  top: 15.5px;
  left: 5px;
  background-color: var(--color-white);
  width: 6px;
  height: 9px;
  z-index: 1;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  width: 16px;
  height: 11.5px;
}
.rectangleGroup {
  height: 27.5px;
  width: 16px;
  position: relative;
}
.buildIcon {
  align-self: stretch;
  height: 17.1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.buildWrapper {
  height: 16px;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.buildWrapper,
.logo,
.logoWrapper {
  display: flex;
  justify-content: flex-start;
}
.logo {
  width: 94px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-3xs);
  z-index: 1;
}
.logoWrapper {
  width: 256px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.rectangleDiv {
  height: 60px;
  width: 571px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.aboutUs {
  flex: 1;
  position: relative;
  line-height: 120%;
  white-space: nowrap;
  z-index: 2;
}
.projects {
  flex: 1;
}
.agents,
.projects {
  position: relative;
  line-height: 120%;
  z-index: 2;
}
.services {
  flex: 1;
}
.listings,
.services {
  position: relative;
  line-height: 120%;
  z-index: 2;
}
.vuesaxlinearsearchNormalIcon {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 2;
}
.rectangleContainer {
  width: 572px;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-15xl) var(--padding-lg)
    var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
}
.otherServices {
  position: relative;
  line-height: 120%;
  white-space: nowrap;
  z-index: 1;
}
.vuesaxlineararrowRight {
  margin: 0;
  height: 18px;
  width: 18px;
  position: relative;
  z-index: 1;
}
.frameWrapper,
.otherServicesParent {
  display: flex;
  justify-content: flex-start;
}
.otherServicesParent {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-4xs);
}
.frameWrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.frameButton {
  height: 60px;
  flex: 1;
  z-index: 1;
}
.frameParent,
.rectangleParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 329px;
  align-items: center;
  gap: var(--gap-11xl);
}
.rectangleParent {
  height: 90px;
  border-radius: var(--br-51xl);
  background-color: var(--gray-2);
  align-items: flex-start;
  padding: var(--padding-smi) var(--padding-5xl) var(--padding-mini)
    var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  position: sticky;
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: var(--font-size);
  color: var(--color-gray-200);
  font-family: var(--font);
}
@media screen and (max-width: 1200px) {
  .rectangleContainer {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 450px) {
  .rectangleParent {
    gap: var(--gap-xl);
  }
}
